
@font-face{
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format('ttf'), 
  url(../fonts/web/roboto.woff) format("woff"),
  url(../fonts/web/roboto.woff2) format("woff2");
  font-weight: 400;
}
@font-face{
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf),
  url(../fonts/web/robotomedium.woff) format("woff"),
  url(../fonts/web/robotomedium.woff2) format("woff2");
  font-weight: 500;
}
@font-face{
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf),
  url(../fonts/web/robotobold.woff) format("woff"),
  url(../fonts/web/robotobold.woff2) format("woff2");
  font-weight: 700;
}
.visibility-hidden{
  visibility:hidden;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
body{
  margin: 0 auto;
  padding:0;
  background-color: #ffffff; 
  font-family: "Roboto-Regular","Arial",sans-serif; 
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
header{
  background-color: #eeeeee;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
﻿html, body, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-project ul,
.nav ul,
.slider ul,
.info ul,
.indicator ul,
.page ul{
  list-style: none; 
}
.chief-slider{
  width: 1160px;
  margin: 0 auto;
}
.upper{
  text-transform: uppercase;
}
.btn{
  padding: 0;
  display: inline-block;
  text-align: center;
  height: 50px;
  text-transform: uppercase;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto-Medium","Arial",sans-serif; 

}
.active {
  position: relative;
}
.active a::after{
  position: absolute;
  content: "";
  width: 75px;
  height: 2px;
  bottom: -9px;
  left: 4px;
  background-color: #fb565a;
}
.nav a{
  font-size: inherit;
}
.nav a:link{
  color: #000000; 
}
.nav a:visited{
  color: #000000; 
}
.nav a:hover{
  color: #fb565a;
}
.nav a:active{
  color: #a6a6a6;
}
a.btn{
 padding-top: 15px;
}
.slides .btn{
  color: #ffffff;
  background: #fb565a;
  width: 240px;
  margin-top: 39px;
  
}
.info p{
  margin: 0;
}
.info .btn{
  width:160px;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 80px;
}
.info li:nth-child(1) .btn{
  background-color: #fb565a;
}
.info li:nth-child(1) .btn:hover,
.slides .btn:hover,
.contact .btn:hover{
  color: #ffffff;
  background: #e74246;
}
.info li:nth-child(1) .btn:active,
.slides .btn:active,
.contact .btn:active{
  background: #d7373b;
  color: #e37376;
  -webkit-box-shadow: 0 -2px 0 2px #c13135;
          box-shadow: 0 -2px 0 2px #c13135;
}
.info li:nth-child(2) .btn{
  background-color: #00ca74;
}
.info li:nth-child(3) .btn{
  background-color:  #efc84a;
}
.info li:nth-child(2) .btn:hover{
  color: #ffffff;
  background: #00bc6c;
}
.info li:nth-child(2) .btn:active{
  background: #00aa62;
  color: #38bd84; 
  -webkit-box-shadow: 0 -2px 0 2px #009958; 
          box-shadow: 0 -2px 0 2px #009958;
}
.info li:nth-child(3) .btn:hover{
  color: #ffffff;background: #eab534;
}
.info li:nth-child(3) .btn:active{
  background: #e5a722;
  color: #edc265; 
  -webkit-box-shadow: 0 -2px 0 2px #ce961f; 
          box-shadow: 0 -2px 0 2px #ce961f;
}
.contact .btn{
  color: #ffffff;
  background: #fb565a;
  width: 219px;
}
.form .btn,
.page .btn{
  background: #eeeeee; 
  color:#000000;
}
.form .btn{
  width: 260px;
}
.page .btn{
  width: 50px;
}
.page li:last-child .btn{
  width: 260px;
} 
.page .btn:hover,
.form .btn:hover{
  color: #000000;background: #dfdfdf;
}
.page .btn:active,
.form .btn:active{
  background: #d5d5d5;
  color: #b7b7b7; 
  -webkit-box-shadow: 0 -2px 0 2px #bfbfbf; 
          box-shadow: 0 -2px 0 2px #bfbfbf;
}
.page .btn-activ {
  border: 2px solid #dbdbdb;
  background-color: #ffffff ;
}
.hiddenwindow .btn-size{
  width: 260px;
}
.letter-div3 .btn-size {
  width: 260px; 
  margin-top: 40px;
}
.info h3{
  text-transform: uppercase;
  font-family: "Roboto-Bold","Arial",sans-serif;
  font-size: 24px; 
  line-height: 22px;
}
.type-bold{
  font-family: "Roboto-Bold","Arial",sans-serif;
}
.type-medium{
  font-family: "Roboto-Medium","Arial",sans-serif;
  line-height: 30px;
  border:none;
}
.type-size45{
  font-size:45px;
}
.type-size55{
  font-size:55px;
}
.slider .type-medium{
  font-size: 55px;
  line-height: 55px;
}
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  min-height: 114px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  -webkit-box-align: end; 
      -ms-flex-align: end; 
          align-items: flex-end;
}
.logo{ 
  display: block;
  opacity: 1;
}
.logo:hover{
 opacity: 0.81;
}
.logo:active{
 opacity: 0.35;
}
.header-nav ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;
  min-width: 480px;
  margin: 0;
  margin-right: 84px;
  line-height: 24px;
  padding-bottom: 14px;
}
.info{
 margin: 0 auto;
}
.info ul{
  width:1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; 
  padding: 0;
  margin-top: 80px;
}
.info li{
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}
.info li:last-child{
  margin-right: 0;
}
.info h3{
 margin: 29px 0 20px;
}
.section-company{
  background-color: #ffffff;
}
.company{
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; 
  padding: 0; 
  -ms-flex-line-pack: center; 
      align-content: center;
  margin-bottom: 72px;
}
.quality{
  padding-top: 75px;
  width: 800px;
  border-top: 2px solid #eeeeee;
}
.quality p{
  margin: 0;
}
.quality p:nth-child(1),
.quality p:nth-child(2){
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto-Medium","Arial", sans-serif;
}
.quality p:nth-child(3){
  padding-top: 31px;
}
.quality p:nth-child(5){
  padding-top: 40px;
}
.quality span{
  letter-spacing: -0.45px;
}
.indicator{display: -webkit-box;display: -ms-flexbox;display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 40px;
  width: 360px;
  border-top: 2px solid #eeeeee;
  place-content: space-between;
}
.indicator p{
  margin: 0;
}
.reclama p:nth-child(1){
  font-size: 45px;
  font-family: "Roboto-Bold","Arial",sans-serif;
  padding-top: 2px;
  letter-spacing: 0.9px;
}
.reclama p:nth-child(2){
  font-size: inherit;
  padding-top: 24px;
}  
.spisok{
  margin: 0;
  padding: 0;
  padding-left: 36px;
  position: relative;
  list-style: none;
  margin-top: 0px;
}
.spisok li{display: block;
  padding: 0;
  padding-top: 24px;
}
.spisok li:before,
.spisok li:after{
  position: absolute;
  left: 0px;
  margin-top: 11px;
  content: ' ';
  width: 25px;
  height: 2px;
  background-color: red;
}
.section-project{
  background-color: #ffffff;
}
.indicator ul{
  width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0;
}
.indicator div:nth-child(2){
  margin-bottom: 14px;
  padding-left: 17px;
  letter-spacing: 0.2px;
}
.indicator img{
  display: block;
  margin: 0;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.project{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.project li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 181px;
  margin: 0 auto;
 
  margin-right: 40px;
  position: relative;
  text-align: center;
}
.project a{
  position: absolute;
  top: 54%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
   opacity: 0.5;
}
.project li:after{
  content:"";
  width: 2px;
  height: 50px;
  background-color: #000000;
  position: absolute;
  top: 64px;
  right: -23px;
   opacity: 0.5;
}
.project li:last-child{
  margin-right: 0px;
}
.project a:hover {
  opacity: 1;
}
.project li:active,
.section-project a:active {
  opacity: 0.25;
} 
.main-slider{
  background-color: #eeeeee;
}
.nav-cart{
  margin: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.nav-cart li{
  position: relative;
  line-height: 24px;
  margin: 0;
  padding-bottom: 14px;
}
.nav-cart a::before{
  position: absolute;
  content:url(../img/cart-icon.svg); 
  left: -40px;
  top: 4px;
}
.chief-slider{ 
  height: 431px;
  margin: 0 auto 0;
  position: relative;
  width: 1160px;
  
}
.slider {
  padding: 0;
  margin: 0;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  
}
.slider p:first-child{
  font-family: "Roboto-Medium","Arial",sans-serif;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding-top: 76px;
  letter-spacing: 0.3px;
}
.slider p:nth-child(2){
  margin: 0;
  padding-top: 26px;
  letter-spacing: 0.3px;
}
.chief-slider > input{
  display: none;
}
.slides {list-style: none;
  height: inherit;
  position: absolute;
  width: inherit;
}
.slide1 {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: right 31px bottom 0px;
  background-color: #eeeeee;
}
.slide2 {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: right;
   background-color: #eeeeee;
}
.slide3 {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: right;
   background-color: #eeeeee;
}
.label-control{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  position: absolute;
  margin: 0;
  left: 534px;
  bottom:  89px;
  width: 90px;
  height: 25px;
  padding: 0;
  
}
.label-control label{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;
}
#slide1:checked ~ .label-control label:nth-child(1){
  background-image: url(../img/active-button.png); 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  z-index: 1;
}
#slide2:checked ~ .label-control label:nth-child(2){
  background-image: url(../img/active-button.png); 
  background-repeat: no-repeat;
  background-position: center;
   background-color: #ffffff;
  z-index: 1;
}
#slide3:checked ~ .label-control label:nth-child(3){
  background-image: url(../img/active-button.png); 
  background-repeat: no-repeat;
  background-position: center;
   background-color: #ffffff;
  z-index: 1;
}
.label-control label:hover{
  background-color: #8d8d8d;
}
.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
  opacity: 1;
  z-index: 1;
}
.map-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width:  1440px;
  margin: 0 auto;
}

.map-container iframe{
   margin-top: 80px;
  position:relative;
  z-index: 2;
  border: none;
  
  left: 0;
}

.map-catalog >.map-container iframe{
  margin-top: 61px;
}

.map-contact{
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
}
.map-catalog .map-contact{
  top: 61px;
}
.contact{
  position: absolute; 
  background-color:#ffffff; 
  top: 134px; 
  text-align: left; 
  padding: 48px;
  left:  97px; 
  /*width: 223px; 
  height: 212px;*/
  z-index: 999;
}
.contact a{
  margin-top: 34px;
}
.contact a:first-of-type{
  display: block;
  color: #000000;
  letter-spacing: 0.4px;
  cursor: pointer;
  margin:0;
}

.contact a:first-of-type:hover{
  color: #fb565a;
}


.contact>.type-bold{
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 22px;
  letter-spacing: 0.35px;
}
.contact p{
  margin: 0;
  letter-spacing: 0.45px;
  line-height: 20px;
  padding-bottom: 13px;
}
.contact p:nth-child(4){
  line-height: 11px;
}
.marker{
  position: absolute;
  top: 168px;
  left: 776px;
  z-index: 1;
}
.section-social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 65px;
  background-color: #ffffff;
  padding-top: 70px;
}
.social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
}
.social-icon{
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 290px;
  padding-left: 2px;
}
.social-icon li{
  list-style: none;
}

.social p{
  margin: 0;
}
.social a{
  display: block;
  width: 76px; 
  height: 76px;
  background: #e1e1e1;
  background-repeat: no-repeat;
  background-position:50% 50%;
  border-radius: 50%;
  margin-right: 16px;
}

.social-icon a:hover{
  background: #e74246;
  background-repeat: no-repeat;
  background-position:50% 50%;
  
  
}
.social-icon a:active{
  background: rgba(227,55,59,0.7);
  background-repeat: no-repeat;
  background-position:50% 50%;
  
  -webkit-box-shadow: 0 0 0 40px rgb(227,115,118,0.55) inset;
          box-shadow: 0 0 0 40px rgb(227,115,118,0.55) inset;
}


.social-li:nth-child(1) a{
background-image: url(../img/vk-icon.svg);
}  

.social-li:nth-child(2) a{
background-image: url(../img/fb-icon.svg);
}  
.social-li:nth-child(3) a{
background-image: url(../img/insta-icon.svg);
}  

.discount p:first-child{
  font-size: 36px;
  padding-bottom: 15px;
  letter-spacing: 0.05px;
}
.discount{
  display: block;
  width: 900px;
  margin: 0;
  padding-top: 11px;
  padding-left: 108px;
}
.form{
  width: 260px;
  margin-top: 55px;
}
.form legend{
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto-Bold","Arial",sans-serif;
}
.form fieldset {
  display: block;
  border-width: 0px;
  padding-left: 0px;
  
}
.catalog-h1{
  display: block;
  min-width: 722px;
  font-size: 55px; 
  margin: 0;
  text-align: center; 
  padding-top:  90px; 
  background-color: #eeeeee; 
  padding-bottom: 121px;
}
.sort-p{
  width: 360px;
  margin-right: 40px;
  font-size: 18px;
  font-family: "Roboto-Bold","Arial",sans-serif;
}
.sort-p p{
  margin: 0;
}
.sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
}
.sort-common input{
  display: none;
} 
.up-down{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 38px;
}
.up-down label:nth-of-type(1){
  color:transparent;
  width: 11px;
  background-image: url(../img/icon-down-dir.png);
  background-repeat: no-repeat; 
  background-position:right center;
}
.up-down label:nth-of-type(2){
  color:transparent;
  width: 11px;
  background-image: url(../img/icon-down-dir.png);
  background-repeat: no-repeat; 
  background-position:right center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sort label{
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
  opacity: 0.5;
}
.sort label:hover{
  opacity: 0.7;
}
.sort label:active{
  opacity: 1;
}
.box-catalog{
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.main-conteiner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;
  background-color: #ffffff;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}
.wrapp{
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  margin: auto;
  padding: 0;
  padding-top: 43px; 
}
.content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  width: 760px; 
  -webkit-box-align: start; 
      -ms-flex-align: start; 
          align-items: flex-start; 
  -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
}
.wrapp li{
  position: relative;
}
.activ{
  margin: auto;
  text-align: center; 
  width: 360px;
  height: 230px;
  position: absolute;
  bottom: 0px;
  background: #eeeeee;
  line-height: 18px;
  display: none;
}
.wrapp li::before{
  height: 40px;
  content:url('../img/browser-gray.png');
  position: absolute; top: -40px;
  background-color: #e1e1e1;
}
.wrapp li:hover::before{
  height: 40px; 
  content:url('../img/browser.png');
  position: absolute; 
  top: -40px;
}
.wrapp li{
  display: block;
  margin: 0;
  margin-bottom: 73px;
}
.wrapp li:hover .activ{
  display: block;
}
.activ .btn{
  width: 200px;
  background: #fb565a;
  color: #ffffff;
  margin-top: 27px;
}
.activ a:first-of-type{
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto-Bold","Arial",sans-serif;
  color: #000000;
  padding-top: 32px;
  padding-bottom: 22px;
}
.activ a:first-of-type:hover{

  color:#fb565a;
}
.activ p{
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}
.sort-common{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  padding-top: 54px;
  padding-bottom: 52px;
  
}
.page{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; 
  width: 440px; 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;
  margin: -14px 14px 0 0;
  padding: 0;
  
}
.page:nth-child{
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}
.letter{
  display: none;
  width: 960px; height: 
  590px;
  position: fixed;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  bottom: 50px;
  background-color: #ffffff;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%)
}
.letter-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center; 
  margin: 0;
  padding-right: 100px; 
  padding-left: 100px; 
}
.letter-div1,
.letter-div2{
  width: 360px; 
  margin-top: 41px; 
  padding: 0;
}
.letter-div1 input,
.letter-div2 input{
  font-family: "Roboto-Regular","Arial",sans-serif; 
  font-size: 16px;
  width: 360px; 
  margin: 0; 
  height: 50px; 
  margin-top: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  padding-left: 14px;
  border: 1px solid #d7dcde; 
  border-radius: 5px;
  color: #b0a7a7;
}
.letter textarea{
  min-width: 760px;
  height: 120px;  
  padding: 0;
  padding-top: 12px;
  padding-left: 14px; 
  border: 1px solid #d7dcde; 
  border-radius: 5px;
  font-family: "Roboto-Regular","Arial",sans-serif; 
  font-size: 16px;
  color: #b0a7a7;
}
.letter p{
  margin: 0; 
  padding-left: 100px; 
  padding-top: 73px;
  font-size: 45px;
}
.letter .btn{
  width: 260px;
  background-color: #fb565a;
  color: #ffffff;
  margin-top: 47px;
}
.letter-div3 {
  padding-left: 100px;
  padding-top: 29px; 
}
.letter-div3 label{
  display: block;
  font-size: inherit;
}
.letter a{
  position: absolute; 
  top: 73px; 
  right: 86px;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.4;
}
.close:hover {
  opacity: 1;
}
.close:active {
  opacity:0.2;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 29px;
  width: 4px;
  background-color:red;
}
.close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.range-style{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  background-color: #eeeeee;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px; 
  border-radius: 5px; 
}
.range-style{
  display: -ms-flexbox;
  -webkit-box-flex:1;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
}
.range-value input{
  width: 80px;
  height: 38px;
  background-color: #eeeeee;
  border: none; 
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #283136;
  font-family: "Roboto-Regular","Arial",sans-serif; 
  margin-left:  -20px;
}
.range-value{
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #283136;
}
input[type='range'] {
  margin: 0 auto;
  width: 210px;
  -webkit-appearance: none;
  height: 3px;
  background-color: #d7dcde;
  padding: 0;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url(../img/range.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px  #d7dcde;
          box-shadow: 0 2px 2px  #d7dcde;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url(../img/range.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 2px 2px  #d7dcde;
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  background-color: #00ca74; 
}
input[type="range"]::-moz-range-track {  
  background-color: #d7dcde;
}
input[type="range"]::-ms-fill-lower {
  background-color: #00ca74; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #d7dcde;
}

.radio{
  width: 260px;
  margin-top: 35px;
}
.radio label{
  display: block;
  width: 260px;
  position: relative;
  cursor: pointer;
  padding-left: 38px;
  padding-bottom: 4px;
  padding-top: 4px;
  line-height: 32px;
  opacity: .72;
}
.radio input[type=radio] {
  display: none;
}
.radio label:before{
  position: absolute;
  content:url(../img/radio-off.svg);
  cursor: pointer;
  opacity: 0.72;
  left:  0;
  bottom: -2px;
}
.radio input[type=radio]:checked + label:before {
  content: url(../img/radio-on.svg);
}
.check{
  width: 260px;
  margin-top: 24px;
  -webkit-padding-before: 0px;
          padding-block-start: 0px;
  line-height: 40px;
}
.check label{
  display: block;
  width: 260px;
  position: relative;
  cursor: pointer;
  padding-left: 36px;
  opacity: 0.72;
  padding-top: 7px;
  line-height: 34px;
}
.check input[type=checkbox] {
  display: none;
}
.check label:before{
  position: absolute;
  content:"";
  width: 20px;
  height: 20px;
  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.72;
  left:  0;
  bottom: 6px;
}
.check input[type=checkbox]:checked + label:before {
  content: url(../img/checkbox-on.svg);
  border: 0;
  bottom: 8px;
}
.radio label:hover{
  opacity: 1.0;
}
.radio label:active{
  opacity: 0.2;
}
.check label:hover{
  opacity: 1.0;
}
.check label:active{
  opacity: 0.2;
}
.check .btn{
  margin-top: 39px;
}


.map-catalog .contact{
  top: 116px;
}
.map-catalog .marker{
  top: 151px;
}
.modal-show {
  display: block;
}