    @font-face{
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face{
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face{
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}




body
{background-color: #ffffff; max-width: 1440px; 
margin: 0 auto;
padding: 0;
border: 0;
font-family: "Roboto", sans-serif;
}

body div
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li
{list-style: none;}
a
{text-decoration: none;
color:#101010;}

.slider{background-color: #eeeeee; 
padding-left: 140px; padding-right: 140px;}





header a:hover{color:#fb565a;}
header a:active{color:#a6a6a6;}
.news_content a:hover{color: #ffffff;background: #e74246;}
.news_content a:active{background: #d7373b;color: #e37376;}
.napr-li-left button:hover{color: #ffffff;background: #e74246;}
.napr-li-left button:active{background: #d7373b;color: #e37376;}
.napr-li-center button:hover{color: #ffffff;background: #00bc6c;}
.napr-li-center button:active{background: #00aa62;color: #4dc491;}

.napr-li-rigth button:hover{color: #ffffff;background: #eab534;}
.napr-li-rigth button:active{background:#e5a722;color: #edc265;}


.visibility-hidden{visibility:hidden;
padding: 0;
margin: 0;
font-size: 0;}


.header{background-color:#eeeeee;

	padding-right: 140px;padding-left: 140px;
}

.nav-header{display: flex; justify-content: space-between;
  align-items: center;}
.navbar{display: flex; justify-content: flex-start;
  align-items: center;}
.navbar li{margin: 0px 25px;
}
.navkorz{display: flex;justify-content: flex-end;
}

/***************************/
.slider{display: flex;
padding: 0;
margin: 0;}
.news_block {
  display: flex;
  justify-content: space-between; align-items: stretch;
  padding-right: 140px;
  padding-left: 140px; }
  
 
.news_input {
  
  position: relative;
}
.labl{position: absolute;
top: 50%;
left: 50%;}
 
.slider  input {
    /*display: none;*/
	visibility:hidden;}
  
 
  input[id="tab_1"]:checked ~ .news_content .tab_1,
  input[id="tab_2"]:checked ~ .news_content .tab_2,
  input[id="tab_3"]:checked ~ .news_content .tab_3 {
  display: block;
  }


  input[id="tab_1"]:checked ~ .labl .span,
  input[id="tab_2"]:checked ~ .labl .span,
  input[id="tab_3"]:checked ~ .labl .span {
  background: white;
  }
 
/*.labl label{
    width:4px; 
height: 4px;
background: black;
border-radius: 50%;
border: 1px solid gray;
padding-left: 10px;
    margin-right: 2px;
    padding-right: 10px;
   }*/

.labl span {
 width:18px; 
height: 18px;
background:red;
border-radius: 50%;

padding-left: 10px;
    margin-right: 2px;
padding-right: 10px;}
 
/*.labl span::after {
    top: 8px;
    left: 8px;
    z-index: 1;
    background-color: #fff;
    border-radius: 50% */

 
 
 
.news_content { display: inline-block;align-items: stretch;padding:0;
margin:0;
}
/*.news_content ul{padding:0;
margin:0;} */
.news_content li{
display: none;
width: 1160px;
height: 413px;
background-repeat: no-repeat; 
background-position: right ;
font-family:"Roboto-Regular";
}

.tab_1{background-image: url(../img/slide1.png);}
.tab_2{background-image: url(../img/slide2.png);}
.tab_3{background-image: url(../img/slide3.png);}



.tab-a{
  color: #ffffff;
  background-color: #fb565a;
  text-align: center;
 border-radius: 2%;
  padding: 20px 54px;
  margin-top: 270px;
  font-size:16px;font-family: "Roboto-Medium",sans-serif;
}

.p1tab{font-size: 55px; font-family: "Roboto-Medium",sans-serif; }
.p2tab{padding-bottom:36px;}
/************************************/

.napr-ul {margin: 0;
padding: 0;
margin-top: 80px;
margin-left:  140px;
margin-right: 140px; display: flex; justify-content: space-between;
}


.napr h3{font-size: 24px; text-transform: uppercase;}
.napr p{font-size: 16px;}
.napr button{font-size: 16px;font-weight: 700;border: 1px solid ; border-radius: 5%;
padding: 20px 40px; color: #ffffff; text-transform: uppercase;
font-family: "Roboto-Bold", sans-serif;}
.napr-li-rigth button{background: #efc84a;}
.napr-li-center button{background: #00ca74;}
.napr-li-left button{background: #fb6165;}

/********************/
.company{

display: flex; justify-content: flex-start; align-items: flex-end;
color: #000000;padding-top: 126px;}

.company-div1{padding-left: 140px;
}
.company-div2{padding-left: 144px;}

.p1-comp-div1{font-size: 45px;margin-bottom: 0;}
.p2-comp-div1,.p3-comp-div1{margin-top: 36px; font-size: 16px; margin-bottom: 0;}
.p3-comp-div1{color:#61686c; margin-top: 53px;}

.company-div2 ul {margin: 0;
padding: 0;

}
.company-div2 li{display: inline; float: left;padding-right: 18px;
}
.p-div2{font-size: 45px;font-family: "Roboto-Bold",sans-serif;}
/***************************************/
.project{ }
.project ul{display: flex; justify-content: space-between; align-items: center;
  padding: 0; margin: 0; padding-left: 140px; padding-right: 140px;
}

/**************************************/

.contact{display: inline;
position: relative; 
}

.map{display: block;
position: absolute;}


.cont{
position: relative; 
background: #ffffff;
margin-left: 140px;
margin-right:980px;
padding: 50px; 
top: 52px;}

.map-mark{display: block;
position: relative;
top: -262px;
left: 820px;}
/*********************************/
.seti{
  padding: 0;
  margin: 0;

  margin-top: -50px; display: flex; justify-content: flex-start;
  align-items: stretch;
  }

.seti ul{display: flex; padding-left: 140px;}
.seti li{padding: 0;
 margin: 0; 
margin-right:  15px; display: flex;
}

.d1,.d2,.d3{
width: 76px; 
height: 76px;
background: #e1e1e1;
background-repeat: no-repeat;
background-position:50% 50%;
border-radius: 50%;
}

.d1{background-image: url(../img/vk-icon.svg);}

.d2{background-image: url(../img/fb-icon.svg);} 
.d3{background-image: url(../img/insta-icon.svg);} 


.div-seti{padding-left: 140px;}
.div-seti p{padding: 0;
margin: 0;}
.psd{font-size: 45px;
font-family: "Roboto-Bold",sans-serif;}
/************************/

.h1catalog{font-size:55px; font-family:"Roboto-Medium",sans-serif; text-align:center;}
.stoim{padding:0;
margin:0;
padding-left:140px;
display: inline-block; width: 30%;
}

.wrap1{display: flex;
flex-direction: row;
}

.wrapper {display: flex;
	flex-wrap:wrap;justify-content: flex-end;
	
}

#q1:checked ~ .wrapper > .item {
	order: var(--cost);
}


#q3:checked ~ .wrapper > .item {
	order: var(--title);
}


#q2:checked ~ .wrapper > .item {
	order: var(--tip);
}
.item{display:block;padding-right: 37px;}

.filtr{display: inline-block;}
.sor3{display: inline;}

.sortsec{display: flex;;
justify-content: space-between; width: 70%;}
.katalog{display: flex;
justify-content: space-between;}

.wrap1 input{display: inline;}
.wrap1 label{display: inline;}